<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.app.buffet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BaseUrlServlet</servlet-name>
        <servlet-class>com.app.buffet.BaseUrlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseUrlServlet</servlet-name>
        <url-pattern>/buffet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BasicDataServlet</servlet-name>
        <servlet-class>com.app.buffet.BasicDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BasicDataServlet</servlet-name>
        <url-pattern>/link</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DocVersionServlet</servlet-name>
        <servlet-class>com.app.buffet.DocVersionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DocVersionServlet</servlet-name>
        <url-pattern>/docversion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ItemClassServlet</servlet-name>
        <servlet-class>com.app.buffet.ItemClassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemClassServlet</servlet-name>
        <url-pattern>/itemclasslist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>com.app.buffet.ItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/itemlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ItemSizeServlet</servlet-name>
        <servlet-class>com.app.buffet.ItemSizeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemSizeServlet</servlet-name>
        <url-pattern>/itemsizelist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MethodServlet</servlet-name>
        <servlet-class>com.app.buffet.MethodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MethodServlet</servlet-name>
        <url-pattern>/methodlist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetmealServlet</servlet-name>
        <servlet-class>com.app.buffet.SetmealServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetmealServlet</servlet-name>
        <url-pattern>/setmeallist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdvImageServlet</servlet-name>
        <servlet-class>com.app.buffet.AdvImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdvImageServlet</servlet-name>
        <url-pattern>/advimages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ItemUpdateServlet</servlet-name>
        <servlet-class>com.app.buffet.ItemUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemUpdateServlet</servlet-name>
        <url-pattern>/itemupdate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetPosServlet</servlet-name>
        <servlet-class>com.app.buffet.GetPosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPosServlet</servlet-name>
        <url-pattern>/getpos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>paybar</servlet-name>
        <servlet-class>com.app.buffet.ResultPayBar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paybar</servlet-name>
        <url-pattern>/CommPayBarCode.htm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>paybarquery</servlet-name>
        <servlet-class>com.app.buffet.PayBarQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paybarquery</servlet-name>
        <url-pattern>/CommPayOrderQuery.htm</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>addorder</servlet-name>
        <servlet-class>com.app.buffet.Addorder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addorder</servlet-name>
        <url-pattern>/addorder</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>gettoken</servlet-name>
        <servlet-class>com.app.buffet.GetToken</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>gettoken</servlet-name>
        <url-pattern>/gettoken</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pay</servlet-name>
        <servlet-class>com.app.buffet.Settle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pay</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>

</web-app>